*, *::before, *::after {
  font-family: system-ui;
  color: #e6e6e6;
}

body {
  background-color: #1c1c1c;
}

#title {
  text-align: center;
}

.container {
  display: inline-block;
  float: left;
  width: 50%;
}

.text-black {
  color: black;
}

.movie {
  width: max-content;
  margin-inline: auto;
}
.movie__input {
  margin-left: 8px;
}

.backdrop__img {
  width: 100%;
  height: 100%;
}
